body {
    background-color:rgb(78, 132, 147);
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: white ;
    height: 58px;
    width: 1185px;
    color:rgb(0, 0, 0);
    border-radius: 12px;
    border: 9px solid;
    border-color: rgb(14, 6, 6);
    margin-top: 3px;
}

#subtitulo {
    text-align: center;
}

header, footer {
    height: 20%;
    width: 100%;
    clear: both;
}

.sidebar {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 10px;
    width: 20%;
    height: 60%;
    height: 490px;
    float: left;
}

main {
    display: flex;
    width: 100%;
    height: 60%;
    float: left ;
}

.sidebar h2 {
    font-size: 1.8em;
    text-align: left;
}

img {
    width: 200px;
    text-align: center;
    
}

#Livro1 {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    border: black solid;
    border: 900px;
}

#Livro1 img{
    max-width: 170px;
    height: auto;
    margin: 15px;
    margin-left: 10px   ;
    max-height: 230px;
    align-items: flex-start;
}
#Livro1 img:hover{
    border: 2px black solid;
}

